.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden;}

input[type="number"] {
  max-width: 80%;
}

/* Customize fonts */
  body, input, button, select {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    font-weight: 100;
    	color: #494949;
    		font-size: 13px;
  }

h1, h2, h3, h4 { font-weight: 100; }

 button {
  background-color: #999999;
}

label {
  font-weight: 400 !important;
  font-size: 12px !important;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 0 0 0;
}
/****************************************** ids **********************************/

  /****************************************** classes ********************************/

.small-dl{
  padding:4px; font-size:80%;
}


  .tooltip-inner {
    background-color: white;
    color: #101010;
    border: solid 1px black;
    opacity:1 !important;
  }

  .tooltip.in {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }

  .wellpanel {
  overflow-x:scroll;
    overflow-y:scroll;
  max-height: 600px;
  background-color: white;
  font-size:85%;
}

/****************************************** leaflets *********************************/
.leaflet {height: calc(100vh - 350px) !important;}

/*********************** navbar css ****************************/
.navbar .navbar-nav {float: right}

.navbar-header {
  padding: 0px 20px 0px 30px;
}

.navbar.navbar-default.navbar-static-top{
  padding:0;
  margin-bottom: 0px;
  background: rgba(16,16,16, 0.85);
}
.navbar-default {
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}
.navbar-default {
  background-color: #101010;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #E0E0E0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E0E0E0;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #E0E0E0;
}
.navbar-default .navbar-nav > li > a {
  color:  #E0E0E0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #37CBA2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #37CBA2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #101010;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #101010;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #37CBA2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E0E0E0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #101010;
  color:#37CBA2;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E0E0E0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #101010;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E0E0E0;
    background-color: #101010;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .btn-link {
  color: #E0E0E0;
}







