.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden;}

input[type="number"] {
  max-width: 80%;
}

/* Customize fonts */
  body, input, button, select { 
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    font-weight: 100;
    	color: #494949;
    		font-size: 13px;
  }
  
h1, h2, h3, h4 { font-weight: 100; }
 
 button {
  background-color: #999999;
}

label {
  font-weight: 400 !important;
  font-size: 12px !important;
}

.dropdown-menu{
  background: white;
  border: 1px solid black;
  padding:5px 0 0 0;
  margin-top: 10px;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 0 0 0;
}
/****************************************** ids **********************************/

  /****************************************** classes ********************************/
.info-animation {
  color: grey;
  font-size: 10px;
    padding: 0 0 0 0;
  margin-bottom: 5px;
  margin-top: -25px;
}

.control-label {
  margin-bottom: 5px;
  font-weight: 700; 
  font-size: 14px;
}

.speed-label {
   font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    font-weight: 100;
    		font-size: 11px;
    		  padding: 0 0 4px 0;

}

.panel-controls {
  padding: 10px 10px 10px 10px;
} 
              

.panel-display {
  background-color: rgba(250,250,250,0.8);
    padding: 20px 20px 15px 20px;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2); 
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
  font-weight:100;
  border-radius: 15px;
        border: 1px solid black;
}

.panel-table {
  background-color: rgba(250,250,250,0.8);
    padding: 10px 0px 0px 0px;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2); 
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
  font-weight:100;
  border-radius: 15px;
        border: 1px solid black;
}
       
.html-text {
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
}

.date-text {
  font-size: 35px;
  color: #494949;
}

.small-dl{
  padding:4px; font-size:80%;
}

.param-label {
    font-size: 12px;
  font-weight: 600;
  display:inline-block;
  padding: 10px;
}

.inst {
  font-size: 15px;
  font-weight: 400;
}
  
  #ypr-helpHover {
    font-size: 10px;
  }
  
  .tooltip-inner {
    background-color: white;
    color: #101010;
    border: solid 1px black;
    opacity:1 !important;
  }
          
  .tooltip.in {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
  
  .wellpanel {
  overflow-x:scroll; 
    overflow-y:scroll; 
  max-height: 600px; 
  background-color: white;
  font-size:85%;
}

.sidebar {
  overflow-x:scroll; 
    overflow-y:scroll; 
  max-height: calc(100vh - 50px) !important; 
}

.tabbable > .nav {
  font-weight: 800;
    font-size: 14px;
}

.param-title{
  text-align: left;
  font-weight: 600 !important;
  font-size: 13px !important;
  border-bottom: 0.5px solid #494949;
}

.param-title2{
  text-align: left;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-bottom: 0.5px solid #494949;
}

.param-header{
  text-align: center;
  font-weight: 600 !important;
  font-size: 17px !important;
  border-bottom: 0.5px solid #494949;
}

.param-subtitle{
  text-align: left;
   font-weight: 100 !important;
     font-size: 12px !important;
}

#ypr-lowtab, #ypr-lowtab2, #ypr-lowtab3, #ypr-lowtab4 {
  font-size: 11px;
  font-weight: 100 !important;
}

.well2 {
    padding: 10px !important;
}





/****************************************** leaflets **********************************/
.leaflet {height: calc(100vh) !important;}

.leaflet .legend i{
               border-radius: 100%;
               width: 30px;
               height: 30px;
               margin-top: 4px;
               border: 1px solid black;
                  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
                  font-weight:100;
               }
               
.leaflet .legend {
                background-color: rgba(250,250,250,0.8);
                box-shadow: 0 4px 4px -2px rgba(0,0,0,.2); 
  border: 1px solid black;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
                  font-weight:100;
               }
               
.leaflet-control-layers {
                background-color: rgba(250,250,250,0.8);
                box-shadow: 0 4px 4px -2px rgba(0,0,0,.2); 
  border: 1px solid black;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
                  font-weight:100;
                  color: #999999;
               }
               
.leaflet-top {
  z-index: 999 !important;
  top: 50px;
}

.leaflet-control {
      border: 1px solid #2c3e50;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  z-index: 1000;
  opacity: 0.95;
}

#divParam {
    font-size:50% !important;
}

/****************************************** slider **********************************/

.irs-bar {width: 100%; height: 5px; background:#101010;
  border: 1px solid #101010;
}
.irs-bar-edge {background:#101010; 
    height: 5px;
    border: 1px solid #101010;
}
.irs-line { height: 5px; border: 0.1px solid #101010;}
.irs-grid-text {display: none;}
.irs-grid-pol {display: none;}
.irs-max {display: none;}
.irs-min {display: none;}
.irs-single {display: none;}
.irs-from {display: none;}
.irs-to {display: none;}
.irs-slider {width: 15px; height: 15px; top: 20px;}


/*********************** navbar css ****************************/
.navbar .navbar-nav {float: right}

.navbar-header {
  padding: 0px 20px 0px 30px;
}

.navbar.navbar-default.navbar-static-top{
  padding:0;
  margin-bottom: 0px;
  background: rgba(16,16,16, 0.85);
}
.navbar-default {
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}
.navbar-default {
  background-color: #101010;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #E0E0E0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E0E0E0;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #E0E0E0;
}
.navbar-default .navbar-nav > li > a {
  color:  #E0E0E0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #37CBA2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #37CBA2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #101010;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #101010;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #37CBA2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E0E0E0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #101010;
  color:#37CBA2;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E0E0E0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #101010;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E0E0E0;
    background-color: #101010;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .btn-link {
  color: #E0E0E0;
}




 

 
 